openapi: 3.0.0
# Added by API Auto Mocking Plugin
servers:
  - description: DataHen API
    url: https://app.datahen.com/api/v1
security:
- httpBearer: []
info:
  description: | 
    API documentation on how to manage scrapers, jobs, variables, exports, etc on DataHen.
    
    # Authentication Token
    
    To make a proper request to the API endpoints, you need to be authenticated via the Auth Token. 
    There are two ways to supply your token to the API. One is via the Query Parameter, and another one is via the Request Header.
    To get an Auth Token, you can login to DataHen and visit the `Developers > Auth Tokens` section to find or create your Auth Token.
    
    ## Query Parameter based Authentication
    To make an authenticated request based on query parameter, you need to add `token` parameter to the URL query. 
    
    An example request would be the following. 
    
    `https://app.datahen.com/api/v1/scrapers?token=yourtokenhere`
    
    ## Request Header based Authentication
    To make an authenticated request based on request header, you can need to add `Authorization` header on your request.
    
    An example of a curl command that uses a header based authentication.
    
    ```
    curl --request GET 'https://app.datahen.com/api/v1/scrapers' --header 'Authorization: Bearer <yourtokenhere>
    ```
    # Pagination
    The API Endpoints support the ability to specify the page number and the number of records per page.
    
    ## Per Page
    The Per Page parameter specifies how many records per page the API endpoint will return.  
    By default is set to 100 records.
    
    To specify a different number of records per page, use the `pp` parameter when you query the API endpoint.
    
    The example request below sets the `per page` parameter to 30.
    
    `https://app.datahen.com/api/v1/scrapers?pp=30`
    
    ## Page Number
    
    The Page Number parameter specifies which page you are in when you are retreiving the records.
    By default, when not specifically set, the page number is set to 1. When you've reached the end of the page, you will receive the response body as `null`.
    
    To specify a different page number, use the `p` parameter when you query the API endpoint.
    
    The example request below sets the `page` parameter to 2.
    
    `https://app.datahen.com/api/v1/scrapers?p=2`
    
    ## Pagination metadata
    When an API endpoints returns a paginated response, it will return also the response headers that would tell you more about the the number of potential records, and pages.
    
    The response Headers will contain the following `X-Pagination-*` headers:
    
    ```
    X-Pagination-Current-Page: 1
    X-Pagination-First-Page: 1
    X-Pagination-Last-Page: 1
    X-Pagination-Per-Page: 100
    X-Pagination-Total-Pages: 1
    X-Pagination-Total-Records: 1
    ```

  version: "1.0.1"
  title: DataHen API Reference
  contact:
    email: services@datahen.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Scrapers
    description: Manage Scrapers

  - name: Jobs
    description: Manage Scrape Jobs
  - name: Current Job
    description: Manage Current Job of a Scraper
  
  - name: Job Stats
    description: Get the Job's Stats
  - name: Current Job Stats
    description: Get the Current Job's Stats

  - name: Job Output
    description: Manage Job Outputs.
  - name: Current Job Output
    description: Manage Current Job Outputs.

  - name: Job Collection
    description: Manage Job Collections.
  - name: Current Job Collection
    description: Manage Current Job Collections.


  - name: Scraper Export
    description: Manage Scraper Exports
  - name: Job Export
    description: Manage Job Exports
  - name: Scraper Exporter
    description: Manage Scraper Exporters


  - name: Global Pages
    description: View Pages that has been scraped or being scraped by the account.
  - name: Job Pages
    description: Manage Job Pages.
  - name: Current Job Pages
    description: Manage Current Job Pages.


  - name: Scraper Variables
    description: Manage Input Variables on a Scraper
  - name: Current Job Variables
    description: Manage Input Variables on a Current Job of a Scraper
  - name: Account Variables
    description: Manage Environment Variables on the Account

  - name: Auth Token
    description: "Manage Auth Tokens on the Account. Restricted to users with `admin` or `owner` role."
  - name: Deploy Key
    description: "Manage the Deploy Key on the Account. Restricted to users with `admin` or `owner` role."
  

  - name: Job Logs
    description: View Log entries on a Job.
  - name: Page Logs
    description: View Log entries on a Page on a Job.

  - name: Deployment
    description: Manage Scraper Deployments

  
  - name: Job Seeding
    description: Manage Job Seeding
  - name: Job Finisher
    description: Manage Job Finisher
  - name: Current Job Finisher
    description: Manage Current Job Finisher

  - name: Internal Job Seeding
    description: "`internal` Endpoints used by scraper agents to execute the seeding script on the job container."
  - name: Internal Job Page Parsing
    description: "`internal` Endpoints used by scraper agents to execute parser scripts on the job container."
  
  - name: Internal Job Finisher
    description: "`internal` Endpoints used by scraper agents to execute the finisher scripton the job container."
  
  - name: Data Connector
    description: "`EXPERIMENTAL` Allows connectivity with external BI tools, such as Google Data Studio."


paths:
  /scrapers:
    post:
      tags:
      - Scrapers
      summary: Create a Scraper
      security:
        - bearerAuth: []
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateScraper'
      responses:
        200:
          $ref: '#/components/responses/ScraperSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
      - Scrapers
      summary: Get a list of scrapers
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: only_schema
          description: When specified, will return only Scrapers that has schema specified in the Scraper Config.
          required: false
          schema:
            type: boolean
        - in: query
          name: only_exporters
          description: When specified, will return only Scrapers that has any exporter specified in the Scraper Config.
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/ScrapersSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}:
    get:
      tags:
      - Scrapers
      summary: Show a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/ScraperSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Scrapers
      summary: Update a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateScraper'
      responses:
        200:
          $ref: '#/components/responses/ScraperSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
      - Scrapers
      summary: Delete a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/DeleteSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs:
    get:
      tags:
      - Jobs
      summary: Get a list of Jobs
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/JobsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}:
    get:
      tags:
      - Jobs
      summary: Show a Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/ScraperSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/jobs: 
    post: 
      tags:
      - Jobs
      summary: Create a Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScrapeJob'
      responses:
        200:
          $ref: '#/components/responses/JobSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
      - Jobs
      summary: Get a list of Jobs on a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/JobSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job:
    get:
      tags:
      - Current Job
      summary: Show the Current Job on a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/ScraperSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Current Job
      summary: Update the Current Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      requestBody:
        description: Request Body
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScrapeJob'
      responses:
        200:
          $ref: '#/components/responses/JobSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pause:
    put:
      tags:
      - Current Job
      summary: Pause the Current Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/JobSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/resume:
    put:
      tags:
      - Current Job
      summary: Resume the Current Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/JobSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/cancel:
    put:
      tags:
      - Current Job
      summary: Cancel the Current Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/JobSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/stats/current:
    get:
      tags:
      - Current Job Stats
      summary: Show the Stats on a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/JobStatSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/stats/history:
    get:
      tags:
      - Current Job Stats
      summary: Show the Stats History on a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/MinTimestamp'
        - $ref: '#/components/parameters/MaxTimestamp'
      responses:
        200:
          $ref: '#/components/responses/JobStatHistorySuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/stats/current:
    get:
      tags:
      - Job Stats
      summary: Show the Stats on a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/JobStatSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/stats/history:
    get:
      tags:
      - Job Stats
      summary: Show the Stats History on a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/MinTimestamp'
        - $ref: '#/components/parameters/MaxTimestamp'
      responses:
        200:
          $ref: '#/components/responses/JobStatHistorySuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'        
  /scrapers/{name}/vars:
    get:
      tags:
      - Scraper Variables
      summary: Get a list of Input Variables on a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Scraper Variables
      summary: Sets a Scraper's multiple Input Variables at once.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SetUnsetVar'
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/vars/{var_name}:
    get:
      tags:
      - Scraper Variables
      summary: Show one Input Variable on a Scraper.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/VarName'
      responses:
        200:
          $ref: '#/components/responses/VarSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Scraper Variables
      summary: Sets one Input Variable on a Scraper.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/VarName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUnsetVar'
            example:
              secret: false
              value: macbook air
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
      - Scraper Variables
      summary: Unsets a Scraper's Input Variable. One at a time.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/VarName'
      responses:
        200:
          $ref: '#/components/responses/DeleteSuccess'  
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/vars:
    get:
      tags:
      - Current Job Variables
      summary: Get a list of Input Variables on a Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Current Job Variables
      summary: Sets Current Job's multiple Input Variables at once
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SetUnsetVar'
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/vars/{var_name}:
    get:
      tags:
      - Current Job Variables
      summary: Show one Input Variable on a Current Job.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/VarName'
      responses:
        200:
          $ref: '#/components/responses/VarSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Current Job Variables
      summary: Sets one Input Variable on a Current Job.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/VarName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUnsetVar'
            example:
              secret: false
              value: macbook air
      responses:
        200:
          $ref: '#/components/responses/VarSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
      - Current Job Variables
      summary: Unsets a Scrape Job's Input Variable. One at a time.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/VarName'
      responses:
        200:
          $ref: '#/components/responses/DeleteSuccess'  
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /env_vars:
    get:
      tags:
      - Account Variables
      summary: Get a list of Environment Variables on the Account
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Account Variables
      summary: Sets the Account's multiple Environment Variables at once.
      security:
        - bearerAuth: []
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SetUnsetVar'
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /env_vars/{var_name}:
    get:
      tags:
      - Account Variables
      summary: Show one Environment Variable on the Account.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VarName'
      responses:
        200:
          $ref: '#/components/responses/VarSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Account Variables
      summary: Sets one Environment Variable on the Account.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VarName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUnsetVar'
            example:
              secret: false
              value: macbook air
      responses:
        200:
          $ref: '#/components/responses/VarsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
      - Account Variables
      summary: Unsets Account's Environment Variable. One at a time.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VarName'
      responses:
        200:
          $ref: '#/components/responses/DeleteSuccess'  
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/exports:
    get:
      tags:
      - Scraper Export
      summary: Get a list of all Exports
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/ExportsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/exports/{export_id}:
    get:
      tags:
      - Scraper Export
      summary: Show an Export
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ExportID'
      responses:
        200:
          $ref: '#/components/responses/ExportSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/exports/{export_id}/download:
    get:
      tags:
      - Scraper Export
      summary: Get a Signed URL to Download an Export
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ExportID'
      responses:
        200:
          $ref: '#/components/responses/DownloadExportSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/exports:
    get:
      tags:
      - Scraper Export
      summary: Get a list of all Exports on a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/ExportsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/exports/{exporter_name}:
    post:
      tags:
      - Scraper Export
      summary: Start an Export on a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/ExporterName'
      responses:
        200:
          $ref: '#/components/responses/ExportsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/exporters:
    get:
      tags:
      - Scraper Exporter
      summary: Get a list of Exporters on a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/ExporterType'
        - $ref: '#/components/parameters/ExporterWriteMode'
        - $ref: '#/components/parameters/QueryCollection'
      responses:
        200:
          $ref: '#/components/responses/ExporterSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/exporters/{exporter_name}:
    get:
      tags:
      - Scraper Exporter
      summary: Show an Exporter on a Scraper
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/ExporterName'
      responses:
        200:
          $ref: '#/components/responses/ExporterSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/exporters/{exporter_name}/schema:
    get:
      tags:
      - Data Connector
      summary: Show a JSON Schema or Tabular Schema on a Scraper Exporter
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/ExporterName'
        - $ref: '#/components/parameters/SchemaType'
        - $ref: '#/components/parameters/ConnectorType'
      responses:
        200:
          $ref: '#/components/responses/SchemaSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/exporters/{exporter_name}/exports/latest/get_data:
    get:
      tags:
      - Data Connector
      summary: Get all the latest exported data by an Exporter. This is the full data dump, without pagination. Used to connect to BI Tools such as Google Data Studio.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/ExporterName'
        - $ref: '#/components/parameters/ConnectorType'
        - $ref: '#/components/parameters/ExportFields'
      responses:
        200:
          $ref: '#/components/responses/ConnectorDataSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/exports/{export_id}/get_data:
    get:
      tags:
      - Data Connector
      summary: Get all the latest exported data on an Export. This is the full data dump, without pagination. Used to connect to BI Tools such as Google Data Studio.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ExportID'
        - $ref: '#/components/parameters/ConnectorType'
        - $ref: '#/components/parameters/ExportFields'
      responses:
        200:
          $ref: '#/components/responses/ConnectorDataSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/exports/{exporter_name}:
    post:
      tags:
      - Job Export
      summary: Start an Export on a Scrape Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/ExporterName'
      responses:
        200:
          $ref: '#/components/responses/ExportsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /global_pages/{gid}:
    get:
      tags:
      - Global Pages
      summary: Show a Global Page
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/GlobalPageSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /global_pages/{gid}/content:
    get:
      tags:
      - Global Pages
      summary: Show a Content of a Global Page
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/PageContentSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages:
    post:
      tags:
      - Job Pages
      summary: Add a Page in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobPage'
      responses:
        200:
          $ref: '#/components/responses/JobPageSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
      - Job Pages
      summary: Get a list of Pages in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/FetchFail'
        - $ref: '#/components/parameters/ParseFail'
        - $ref: '#/components/parameters/PageType'
        - $ref: '#/components/parameters/JobPageStatus'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/JobPagesSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/refetch:
    put:
      tags:
      - Job Pages
      summary: Refetch Pages in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/FetchFail'
        - $ref: '#/components/parameters/ParseFail'
        - $ref: '#/components/parameters/JobPageStatus'
        - in: query
          name: gid
          required: false
          schema:
            type: string
          description: GID of a page you need to refetch. If not specified, will refetch everything in the Job.
      responses:
        200:
          $ref: '#/components/responses/JobPageRefetchSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/reparse:
    put:
      tags:
      - Job Pages
      summary: Reparse Pages in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/ParseFail'
        - $ref: '#/components/parameters/JobPageStatus'
        - in: query
          name: gid
          required: false
          schema:
            type: string
          description: GID of a page you need to refetch. If not specified, will refetch everything in the Job.
      responses:
        200:
          $ref: '#/components/responses/JobPageReparseSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/{gid}:
    get:
      tags:
      - Job Pages
      summary: Show a Page in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/JobPageSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Job Pages
      summary: Update a Page in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/GID'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobPage'
      responses:
        200:
          $ref: '#/components/responses/JobPageSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/{gid}/content:
    get:
      tags:
      - Job Pages
      summary: Show a Content of a Job Page
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/PageContentSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/{gid}/failed_content:
    get:
      tags:
      - Job Pages
      summary: Show a Content of a failed Job Page
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/PageContentSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/output/collections/{collection}/records:
    get:
      tags:
      - Job Output
      summary: Get a list of Output Records from a Collection in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/Collection'
        - $ref: '#/components/parameters/JobOutputQuery'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/JobOutputsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/output/collections/{collection}/records/{record_id}:
    get:
      tags:
      - Job Output
      summary: Show one Output Record from a Collection in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/Collection'
        - $ref: '#/components/parameters/JobOutputRecordID'
      responses:
        200:
          $ref: '#/components/responses/JobOutputSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/output/collections:
    get:
      tags:
      - Job Collection
      summary: Get a list of Job Output Collections
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/JobOutputCollectionFromSchema'
      responses:
        200:
          $ref: '#/components/responses/JobOutputCollectionsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/output/collections/{collection}/schema:
    get:
      tags:
      - Job Collection
      summary: Show the Schema that is used to validate the records in the Job Collection
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/Collection'
        - $ref: '#/components/parameters/SchemaType'
        - $ref: '#/components/parameters/ConnectorType'
      responses:
        200:
          $ref: '#/components/responses/SchemaSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/output/collections:
    get:
      tags:
      - Current Job Collection
      summary: Get a list of Current Job Output Collections
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/JobOutputCollectionFromSchema'
      responses:
        200:
          $ref: '#/components/responses/JobOutputCollectionsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/output/collections/{collection}/schema:
    get:
      tags:
      - Current Job Collection
      summary: Show the Schema that is used to validate the records in the Current Job Collection
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/Collection'
        - $ref: '#/components/parameters/SchemaType'
        - $ref: '#/components/parameters/ConnectorType'
      responses:
        200:
          $ref: '#/components/responses/SchemaSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/output/collections/{collection}/records:
    get:
      tags:
      - Current Job Output
      summary: Get a list of Output Records from a Collection in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/Collection'
        - $ref: '#/components/parameters/JobOutputQuery'
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/JobOutputsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/output/collections/{collection}/records/{record_id}:
    get:
      tags:
      - Current Job Output
      summary: Show one Output Record from a Collection in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/Collection'
        - $ref: '#/components/parameters/JobOutputRecordID'
      responses:
        200:
          $ref: '#/components/responses/JobOutputSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pages:
    post:
      tags:
      - Current Job Pages
      summary: Add a Page in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobPage'
      responses:
        200:
          $ref: '#/components/responses/JobPageSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
      - Current Job Pages
      summary: Get a list of Pages in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/FetchFail'
        - $ref: '#/components/parameters/ParseFail'
        - $ref: '#/components/parameters/PageType'
        - $ref: '#/components/parameters/JobPageStatus'
        - $ref: '#/components/parameters/PageNum' 
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/JobPagesSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pages/refetch:
    put:
      tags:
      - Current Job Pages
      summary: Refetch Pages in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/FetchFail'
        - $ref: '#/components/parameters/ParseFail'
        - $ref: '#/components/parameters/JobPageStatus'
        - in: query
          name: gid
          required: false
          schema:
            type: string
          description: GID of a page you need to refetch. If not specified, will refetch everything in the Job.
      responses:
        200:
          $ref: '#/components/responses/JobPageRefetchSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pages/reparse:
    put:
      tags:
      - Current Job Pages
      summary: Reparse Pages in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/ParseFail'
        - $ref: '#/components/parameters/JobPageStatus'
        - in: query
          name: gid
          required: false
          schema:
            type: string
          description: GID of a page you need to refetch. If not specified, will refetch everything in the Job.
      responses:
        200:
          $ref: '#/components/responses/JobPageReparseSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pages/{gid}:
    get:
      tags:
      - Current Job Pages
      summary: Show a Page in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/JobPageSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Current Job Pages
      summary: Update a Page in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/GID'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobPage'
      responses:
        200:
          $ref: '#/components/responses/JobPageSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pages/{gid}/content:
    get:
      tags:
      - Current Job Pages
      summary: Show a Content of a Job Page
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/PageContentSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pages/{gid}/failed_content:
    get:
      tags:
      - Current Job Pages
      summary: Show a Content of a failed Job Page
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/GID'
      responses:
        200:
          $ref: '#/components/responses/PageContentSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/parse_dequeue:
    put:
      tags:
      - Internal Job Page Parsing
      summary: Dequeue a list of pages to get parsed by the scraper agent on the Job.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageParseDequeue'
      responses:
        200:
          $ref: '#/components/responses/JobPagesToParseSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/{gid}/parsing_update:
    put:
      tags:
      - Internal Job Page Parsing
      summary: After parsing is done by the scraper agent, a request is sent to this endpoint to update the status of the page.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/GID'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParsedJobPage'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/log:
    get:
      tags:
      - Job Logs
      summary: Show the Logs on a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/LogPageToken'
        - $ref: '#/components/parameters/LogJobType'
        - $ref: '#/components/parameters/LogOrder'
      responses:
        200:
          $ref: '#/components/responses/JobLogSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/log:
    get:
      tags:
      - Job Logs
      summary: Show the Logs on a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/LogPageToken'
        - $ref: '#/components/parameters/LogJobType'
        - $ref: '#/components/parameters/LogOrder'
      responses:
        200:
          $ref: '#/components/responses/JobLogSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/pages/{gid}/log:
    get:
      tags:
      - Page Logs
      summary: Show the Logs on a Page in a Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
        - $ref: '#/components/parameters/GID'
        - $ref: '#/components/parameters/LogPageToken'
        - $ref: '#/components/parameters/LogJobType'
        - $ref: '#/components/parameters/LogOrder'
      responses:
        200:
          $ref: '#/components/responses/JobLogSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/pages/{gid}/log:
    get:
      tags:
      - Page Logs
      summary: Show the Logs on Page in a Current Job
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
        - $ref: '#/components/parameters/GID'
        - $ref: '#/components/parameters/LogPageToken'
        - $ref: '#/components/parameters/LogJobType'
        - $ref: '#/components/parameters/LogOrder'
      responses:
        200:
          $ref: '#/components/responses/JobLogSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/clear_seeder:
    put:
      tags:
      - Job Seeding
      summary: Clear interrupted Seeder on a Job so that seeding gets restarted.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/seeding_update:
    put:
      tags:
      - Internal Job Seeding
      summary: After Seeding is done by the scraper agent, a request is sent to this endpoint to update the status of the seeding.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeededJob'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/confirm_seeding:
    put:
      tags:
      - Internal Job Seeding
      summary: Does atomic confirm, to ensure that only one seeder can run at any given time on a Scraper Agent.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        406:
          description: Your Seeding confirmation is not accepted. Likely because another Seeder is currently running, or the Seeder already ran before.
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/clear_finisher:
    put:
      tags:
      - Job Finisher
      summary: Clear interrupted Finisher on a Job so that the Finisher process gets restarted.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/missing_finisher:
    put:
      tags:
      - Internal Job Finisher
      summary: Mark the job to have a non-existent(missing) finisher script. This prevents execution of finisher at the end of the job.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/finisher_update:
    put:
      tags:
      - Internal Job Finisher
      summary: After Finisher process is done by the scraper agent, a request is sent to this endpoint to update the status of the finisher.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinisherJob'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/confirm_finisher:
    put:
      tags:
      - Internal Job Finisher
      summary: Does atomic confirm to ensure that only one finisher can run at any given time on a Scraper Agent.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        406:
          description: Your Finisher confirmation is not accepted. Likely because another Seeder is currently running, or the Seeder already ran before.
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/current_job/finisher/reset:
    put:
      tags:
      - Current Job Finisher
      summary: Reset Finisher on a Current Job so that the Finisher process gets restarted.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/SuccessHeader'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /scrapers/{name}/deployments:
    post:
      tags:
      - Deployment
      summary: Deploy codes from a GIT repository onto a Scraper.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/ScraperDeploymentSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
      - Deployment
      summary: Get a list of Scraper Deployments.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ScraperName'
      responses:
        200:
          $ref: '#/components/responses/ScraperDeploymentsSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /jobs/{id}/successful_deployment:
    get:
      tags:
      - Deployment
      summary: Get the latest successful Git Deployment on a Job. Used by scraper agent to deploy the latest Deployment into the Scrape Job container.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobID'
      responses:
        200:
          $ref: '#/components/responses/ScraperDeploymentSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /auth_tokens:
    post:
      tags:
      - Auth Token
      summary: Create an Auth Token on the account.
      security:
        - bearerAuth: []
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - role
              properties:
                role:
                  type: string
                  example: guest
                  enum:
                  - owner
                  - account_admin
                  - basic
                  - guest
                description:
                  type: string
                  example: John Doe
      responses:
        200:
          $ref: '#/components/responses/AuthTokenSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
      - Auth Token
      summary: Get a list of Auth Tokens on the account.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNum'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          $ref: '#/components/responses/AuthTokensSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /auth_tokens/{token}:
    get:
      tags:
      - Auth Token
      summary: Show one Auth Token on the account.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Token'
      responses:
        200:
          $ref: '#/components/responses/AuthTokenSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
      - Auth Token
      summary: Update an Auth Token on the account.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Token'
      requestBody:
        description: Request Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthToken'
      responses:
        200:
          $ref: '#/components/responses/AuthTokenSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
      - Auth Token
      summary: Delete an Auth Token on an Account.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Token'
      responses:
        200:
          $ref: '#/components/responses/DeleteTokenSuccess'  
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /validate_token:
    get:
      tags:
      - Auth Token
      summary: Validate the current token.
      security:
        - bearerAuth: []
      responses:
        200:
          $ref: '#/components/responses/AuthTokenSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
  /deploy_key:
    post:
      tags:
      - Deploy Key
      summary: Generate the Deploy Key on the account. Sending another request will re-generate the Deploy Key.
      security:
        - bearerAuth: []
      responses:
        200:
          $ref: '#/components/responses/AuthTokenSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
      - Deploy Key
      summary: Show the Deploy Key on the account.
      security:
        - bearerAuth: []
      responses:
        200:
          $ref: '#/components/responses/AuthTokensSuccess'
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
      - Deploy Key
      summary: Delete the Deploy Key on the account.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Deleted:
                    type: boolean
                    example: true
                example:
                  Deleted: true
        400:
          $ref: '#/components/responses/AuthTokenMissing'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    SuccessHeader:
      description: Successful Response
    AuthTokensSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthToken'
    AuthTokenSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthToken'
    ExporterSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            oneOf:
            - $ref: '#/components/schemas/JSONExporterConfig'
            - $ref: '#/components/schemas/CSVExporterConfig'
            - $ref: '#/components/schemas/ContentExporterConfig'
            example:
              exporter_name: products_last10_json
              exporter_type: json
              write_mode: pretty_array
              collection: products
              order: desc
              limit: 10
              offset: 0
    ConnectorDataSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            title: ConnectorExportData
            items:
              oneOf:
                - $ref: '#/components/schemas/GDSConnectorExportData'
            example:
            - values:
                - '-'
                - '2019-10-21 15:06:11 +0000'
                - '6'
                - ml
            - values:
                - '-'
                - '2019-10-21 14:57:33 +0000'
                - '1'
                - '-'
    JobPageRefetchSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              refetched_pages:
                type: integer
            example:
              refetched_pages: 7
    JobPageReparseSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              reparsed_pages:
                type: integer
            example:
              reparsed_pages: 7
    JobPagesToParseSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobPageToParse'
    JobLogSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JobLog'
    GlobalPageSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GlobalPage'
    ScraperDeploymentSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScraperDeployment'
    ScraperDeploymentsSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ScraperDeployment'
    JobPageSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JobPage'
    JobPagesSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobPage'
    JobOutputSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JobOutput'
    JobOutputsSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobOutput'
    JobOutputCollectionsSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobOutputCollection'
    PageContentSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              gid:
                type: string
                title: GID
                example: www.ebay.com-fda1505c93d29c8ff97d885710d3e075
              available:
                type: boolean
                title: Available
              signed_url:
                type: string
                title: Signed URL
                format: uri
                description: The Signed URL to download the content.
                example: https://f002.backblazeb2.com/file/content-fetch-answersengine/www.ebay.com-fda1505c93d29c8ff97d885710d3e075?Authorization=3_20200304173320_8f7994afe3082e44ff43ec13_14fb550cbb8cd4a1f46f0dfb5bcee1e102b37cc8_002_20200304183320_0000_dnl
              preview_url:
                type: string
                title: Preview URL
                description: The URL to the preview of the content.
                format: uri
                example: https://app.datahen.com/public/global_pages/preview/5h89NZUEKRjIfeFAnjgKeBs_OuaxrhM7YYN0P0yTuKZh_fsqiFs8O6ssarbRmD0PyBQsan6vZ3LuZDnIboaseZJj2XPaMtJhQvvf7LjwRYMvB0f4yGuTOqVbAsADTeRmRdmUYzMoMT5bIHVJ6y8dnZPA1tyyLKxiiQHuHWKrAKyN4Eez1jRCv7ooitYms3Lq-kY6efmMTS_G6QdPWeMyPp5X8vP7ikT9wdTfLnIdNWmG5kG5VMJYtLZotibWiFUGGi_qJfMqxc6jvMCMg32sB08sag8ljJNw4NQBls_2imf3LwR6WX3UXJzXVluZkqXD3YH8OzCua4IR
    SchemaSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/TabularSchema'
            - $ref: '#/components/schemas/JSONSchema'
          example:
            $id: 'https://example.com/person.schema.json'
            $schema: 'http://json-schema.org/draft-07/schema#'
            title: Person
            type: object
            properties:
              firstName:
                type: string
                description: The person's first name.
              lastName:
                type: string
                description: The person's last name.
              age:
                description: Age in years which must be equal to or greater than zero.
                type: integer
                minimum: 0
    JobSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScrapeJob'
    JobsSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ScrapeJob'
    JobStatSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JobStat'
    JobStatHistorySuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobStat'
    ScraperSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Scraper'
    ScrapersSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Scraper'
    VarSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SetUnsetVar'
    VarsSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SetUnsetVar'
    ExportSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Export'
    ExportsSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Export'
    DownloadExportSuccess:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              signed_url: 
                type: string
                format: uri
                title: Signed URL
                description: The Signed URL to download the export.
                example: 'https://f002.backblazeb2.com/file/exports-fetch-answersengine/76ef855b13dd41a6a1353eb0c5767fe0.tgz?Authorization=3_20200302120858_7b649d805498a58312bebfda_f665e0bca5285f8279cba79cbb7af9e18b7f9af2_002_20200302130858_0000_dnld'
              
    DeleteTokenSuccess:
      description: Successful Delete
      content:
          application/json:
            schema:
              type: object
              properties:
                Token: 
                  type: string
                  example: abcdefghijklmno1234567890
                Deleted: 
                  type: boolean
                  example: true
    DeleteSuccess:
      description: Successful Delete
      content:
          application/json:
            schema:
              type: object
              properties:
                Name: 
                  type: string
                  example: foo
                Deleted: 
                  type: boolean
                  example: true
    PaginatedResponse:
      description: Paginated response headers
      headers:
        x-pagination-current-page: 
          description: "Current page number"
          schema:
            type: integer
        x-pagination-first-page: 
          description: "First page number"
          schema:
            type: integer
        x-pagination-last-page:  
          description: "Last page number"
          schema:
            type: integer
        x-pagination-per-page: 
          description: "Number of records per page"
          schema:
            type: integer
        x-pagination-total-pages: 
          description: "Total number of pages"
          schema:
            type: integer
        x-pagination-total-records:
          description: "Total records found"
          schema:
            type: integer
    UnauthorizedError:
      description: Unauthorized
    AuthTokenMissing:
      description: Access token is missing or invalid
    UnprocessableEntity:
      description: Unprocessable Entity
    NotAcceptable:
      description: Not Acceptable
  parameters:
    PageNum:
      in: query
      name: p
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number
    PerPage:
      in: query
      name: pp
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 30
      description: Number of records per page. Maximum 500 per page.
    MaxTimestamp:
      in: query
      name: max-timestamp
      required: false
      schema:
        type: string
        format: date-time
        example: '2020-03-04T13:13:59.341449Z'
      description: Filter Records with Maximum timestamp (Must be in RFC3339 Format).
    MinTimestamp:
      in: query
      name: min-timestamp
      required: false
      schema:
        type: string
        format: date-time
        example: '2020-02-04T13:13:59.341449Z'
      description: Filter Records with Minimum timestamp (Must be in RFC3339 Format).
    VarName:
      in: path
      name: var_name
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_]+$'
      description: Variable name.
    Collection:
      in: path
      name: collection
      required: true
      example: default
      schema:
        type: string
      description: Name of the collection.
    QueryCollection:
      in: query
      name: collection
      schema:
        type: string
      description: Name of the collection.
    ExporterType:
      in: query
      name: exporter_type
      schema:
        type: string
        enum:
        - json
        - csv
        - content
      description: Type of exporter.
    ExporterWriteMode:
      in: query
      name: write_mode
      schema:
        type: string
        enum:
        - line
        - pretty
        - array
        - pretty_array
      description: Write Mode of Exporter. Must be used together with Exporter Type parameter.
    SchemaType:
      in: query
      name: schema_type
      required: false
      schema:
        type: string
        enum:
        - tabular
      description: Type of Schema.
    ConnectorType:
      in: query
      name: connector_type
      required: false
      schema:
        type: string
        enum:
        - gds
      description: Type of Connector. For example `gds` for Google Data Studio.
    JobOutputQuery:
      in: query
      name: q
      required: false
      schema:
        type: string
      description: Query must be in JSON format.
      example:
        _id: 764c645759804254bf9f5c1a18091f76
    JobOutputRecordID:
      in: path
      name: record_id
      required: true
      schema:
        type: string
      description: Record ID of the Job Output
    ExportID:
      in: path
      name: export_id
      required: true
      schema:
        type: string
      description: Export ID.
    GID:
      in: path
      name: gid
      required: true
      schema:
        type: string
      description: Global ID of pages.
    ScraperName:
      in: path
      name: name
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
      description: Name of the scraper.
    ExporterName:
      in: path
      name: exporter_name
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
      description: Name of the Exporter.
    ExportFields:
      in: query
      name: fields
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      description: Fields on the export data.
    LogJobType:
      in: query
      name: job_type
      schema:
        type: string
        enum:
        - parsing
        - seeding
      description: Job Type. Can be `parsing` or `seeding` or leave blank, for stdout from the Job container.
    LogPageToken:
      in: query
      name: page_token
      schema:
        type: string
      description: Page Token of the current page of the log entries. 
    LogOrder:
      in: query
      name: order
      schema:
        type: string
        enum:
        - head
        - tail
      description: Order of the log entries. Defaults to `tail`.
    JobID:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
      description: ID of the Scrape Job.
    Token:
      in: path
      name: token
      required: true
      schema:
        type: string
      description: Auth Token
    FetchFail:
      in: query
      name: fetchfail
      required: false
      schema:
        type: boolean
      description: Filter by Fetch Fails
    ParseFail:
      in: query
      name: parsefail
      required: false
      schema:
        type: boolean
      description: Filter by Parse Fails
    PageType:
      in: query
      name: page_type
      required: false
      schema:
        type: string
      description: Filter by Page Type
    JobPageStatus:
      in: query
      name: status
      required: false
      schema:
        type: string
        enum: 
          - to_fetch
          - fetching
          - fetching_failed
          - fetching_dequeue_failed
          - to_parse
          - parsing_started
          - parsing
          - parsed
          - parsing_failed
          - parsing_dequeue_failed
          - limbo
      description: Filter by Job Page Status
    JobOutputCollectionFromSchema:
      in: query
      name: from_schema
      required: false
      schema:
        type: boolean
      description: If set to true, will return Collections from the Schema.
  schemas:
    GlobalPage:
      type: object
      title: Global Page
      description: a unique Page that was or is being scraped by all scrapers on the account.
      required:
        - gid
        - fetch_type
        - hostname
        - method
        - ua_type
        - status
      properties:
        gid:
          type: string
          title: GID (Global ID)
          description: The Globally unique ID of a page request.
          example: www.ebay.com-fda1505c93d29c8ff97d885710d3e075
        fetch_type:
          type: string
          title: Fetch Type
          description: The type of fetcher to use (standard, or browser, or fullbrowser).
          default: 'standard'
          enum:
          - standard
          - browser
          - fullbrowser
          example: standard
        hostname:
          type: string
          title: Hostname
          description: Hostname of the URL.
          example: www.ebay.com
        method:
          type: string
          title: HTTP Method
          description: HTTP Method of the request
          default: 'GET'
          enum:
            - GET
            - PUT
            - POST
            - DELETE
            - PATCH
            - HEAD
            - OPTIONS
        url:
          type: string
          title: URL
          description: URL of the request.
          default: ''
          example: 'https://www.ebay.com/itm/Apple-Macbook-Pro-13-Touchbar-ID-MUHN2LL-A-i5-8GB-128GB-Space-Gray-2019-Model'
        effective_url:
          type: string
          title: Effective URL
          description: The final URL after the request is being redirected by the target server.
          example: 'https://www.ebay.com/itm/Apple-Macbook-Pro-13-Touchbar-ID-MUHN2LL-A-i5-8GB-128GB-Space-Gray-2019-Model/303469768584?epid=14032813598&hash=item46a8352f88%3Ag%3AeNwAAOSwkXdeNfdd'
        headers:
          title: Headers
          description: Request Headers
          default: null
          type: object
          example: 
            Header1: foo
            Header2: bar
        cookie:
          title: Cookie
          type: string
          description: The Cookie that can be set and read from.
          example: yummy_cookie=choco; tasty_cookie=strawberry
        body:
          title: Body
          type: string
          description: Request Body.
          default: null
          example: foo=foo1&bar=bar1
        created_at:
          type: string
          title: Created At
          description: Creation Date of this Global Page
          format: date-time
          example: '2020-02-29T07:56:35.307162Z'
        no_redirect:
          type: boolean
          title: No Redirect
          description: If set to true, the fetcher does not do redirection at all on this request.
          default: false
        no_url_encode:
          type: boolean
          title: No URL Encode
          description: If set to true, will use raw URL for the page request.
          default: false
        http2:
          type: boolean
          title: HTTP2
          description: If set to true, will use HTTP2 on standard fetchers.
          default: false
        ua_type:
          type: string
          title: UA Type
          description: User Agent Type. What kind of randomized user agents to use (either desktop or mobile).
          default: 'desktop'
          enum:
          - desktop
          - mobile
        fetching_at:
          type: string
          title: Fetching At
          description: When the Fetching was attempted.
          format: date-time
          example: '2001-01-01T00:00:00Z'
        fetched_at:
          type: string
          title: Fetched At
          description: When the Fetching was done.
          format: date-time
          example: '2020-03-02T11:33:09.531705Z'
        to_fetch:
          type: string
          title: To Fetch
          description: When the Fetching of this page should be available to be started.
          default: ''
          example: '2020-02-29T07:56:35.307162Z'
        total_successes:
          type: integer
          title: Total Successes
          description: Total Successes of this page while being fetched.
          default: 0
        total_requests:
          type: integer
          title: Total Requests
          description: Total Requests of this page while being fetched.
          default: 0
        total_failures:
          type: integer
          title: Total Failures
          description: Total Failures of this page while being fetched.
          default: 0
        response_checksum:
          type: string
          title: Response Checksum
          description: The Checksum of the content of the HTTP response.
          default: ''
          example: 3bbcdb5a6c666e48b7a5c49d6f19af42
        response_status:
          type: string
          title: Response Status
          description: HTTP Status of the response.
          default: ''
          example: 200 OK
        response_status_code:
          type: integer
          title: Response Status Code
          description: The HTTP Status Code of the response.
          example: 200
        response_headers:
          type: object
          title: Response Headers
          description: HTTP Headers of the response.
          default: {}
          example:
            X-Frame-Options:
              - SAMEORIGIN
            X-Sw-No-Cache:
              - 'true'
            Content-Encoding:
              - gzip
            Content-Language:
              - en
            Connection:
              - keep-alive
              - Transfer-Encoding
            Date:
              - 'Mon, 02 Mar 2020 11:33:06 GMT'
        response_cookie:
          type: string
          title: Response Cookie
          description: The Cookie that is set by the target server as part of the HTTP response.
          default: ''
          example: yummy_cookie=choco; tasty_cookie=strawberry
        response_proto:
          type: string
          title: Response Proto
          description: The Protocol of the http response.
          default: ''
          example: HTTP/1.1
        content_type:
          type: string
          title: Content Type
          description: HTTP Content Type of the response.
          default: ''
          example: text/html;charset=UTF-8
        failed_response_checksum:
          title: Failed Response Checksum
          type: string
          description: The Checksum of the content of the failed HTTP response.
          default: ''
          example: 3bbcdb5a6c666e48b7a5c49d6f19af42
        failed_response_status:
          type: string
          title: Failed Response Status
          description: HTTP Status of the failed HTTP response.
          default: ''
          example: 500 Internal Server Error
        failed_response_status_code:
          title: Failed Response Status
          type: integer
          description: HTTP Status of the failed HTTP response.
          example: 500
        failed_response_headers:
          type: object
          title: Failed Response Headers
          description: HTTP Headers of the failed HTTP response.
          default: {}
          example:
            X-Frame-Options:
              - SAMEORIGIN
            X-Sw-No-Cache:
              - 'true'
            Content-Encoding:
              - gzip
            Content-Language:
              - en
            Connection:
              - keep-alive
              - Transfer-Encoding
            Date:
              - 'Mon, 02 Mar 2020 11:33:06 GMT'
        failed_response_cookie:
          type: string
          title: Failed Response Cookie
          description: The Cookie that is set by the target server as part of the failed HTTP response.
          default: ''
          example: yummy_cookie=choco; tasty_cookie=strawberry
        failed_response_proto:
          type: string
          title: FAILED Response Proto
          description: The Protocol of the failed HTTP response.
          default: ''
          example: HTTP/1.1
        failed_cid:
          title: Failed CID (Content ID)
          description: The Content ID (Hash) of the failed HTTP response.
          default: null
          example: www.ebay.com-3bbcdb5a6c666e48b7a5c49d6f19af42
        failed_content_type:
          type: string
          title: Failed Content Type
          description: HTTP Content Type of the failed response.
          default: ''
          example: text/html;charset=UTF-8
        failed_effective_url:
          type: string
          title: Failed Effective URL
          description: The final URL after the failed request is being redirected by the target server.
          example: 'https://www.ebay.com/itm/Apple-Macbook-Pro-13-Touchbar-ID-MUHN2LL-A-i5-8GB-128GB-Space-Gray-2019-Model/303469768584?epid=14032813598&hash=item46a8352f88%3Ag%3AeNwAAOSwkXdeNfdd'
        failed_at:
          type: string
          title: Failed At
          description: When the fetching failed.
          format: date-time
          example: '2020-03-02T11:33:09.531705Z'
        content_size:
          type: integer
          title: Content Size
          description: The Size of the content of the HTTP response.
          default: 0
          example: 65650
        failed_content_size:
          type: integer
          title: Failed Content Size
          description: The Size of the content of the failed HTTP response.
          default: 0
          example: 65650
        status:
          type: string
          title: Status
          description: The Status of the Global Page
          enum: 
          - to_fetch
          - fetching
          - fetched
          example:
            - fetched
    JobPage:
      type: object
      title: Job Page
      description: a Page on a Job
      required:
        - gid
        - url
        - job_id
        - job_status
        - status
        - fetch_type
        - page_type
        - hostname
        - method
        - ua_type
      properties:
        gid:
          type: string
          title: GID (Global ID)
          description: The Globally unique ID of a page request.
          example: www.ebay.com-fda1505c93d29c8ff97d885710d3e075
        job_id:
          type: integer
          title: Job ID
          example: 123
        job_status:
          type: string
          title: Job Status
          example: active
          enum:
          - active
          - cancelled
          - done
          - paused
          - cancelling
          - finishing
        status:
          type: string
          title: Status
          description: The Status of the Job Page
          enum: 
          - to_fetch
          - fetching
          - fetching_failed
          - fetching_dequeue_failed
          - to_parse
          - parsing_started
          - parsing
          - parsed
          - parsing_failed
          - parsing_dequeue_failed
          - limbo
          example:
            - to_fetch
        page_type:
          type: string
          title: Page Type
          description: The type of Page. Grouping multiple pages into certain page types are a useful way to organize pages that can be parsed by their types.
        priority:
          type: integer
          title: Priority
          description: Priority of this Page. Defaults to 0. Higher numbers means will get fetched sooner
          default: 0
        fetch_type:
          type: string
          title: Fetch Type
          description: The type of fetcher to use (standard, or browser, or fullbrowser).
          default: 'standard'
          enum:
          - standard
          - browser
          - fullbrowser
          example: standard
        hostname:
          type: string
          title: Hostname
          description: Hostname of the URL.
          example: www.ebay.com
        method:
          type: string
          title: HTTP Method
          description: HTTP Method of the request
          default: 'GET'
          enum:
            - GET
            - PUT
            - POST
            - DELETE
            - PATCH
            - HEAD
            - OPTIONS
        url:
          type: string
          title: URL
          description: URL of the request.
          default: ''
          example: 'https://www.ebay.com/itm/Apple-Macbook-Pro-13-Touchbar-ID-MUHN2LL-A-i5-8GB-128GB-Space-Gray-2019-Model'
        effective_url:
          type: string
          title: Effective URL
          description: The final URL after the request is being redirected by the target server.
          example: 'https://www.ebay.com/itm/Apple-Macbook-Pro-13-Touchbar-ID-MUHN2LL-A-i5-8GB-128GB-Space-Gray-2019-Model/303469768584?epid=14032813598&hash=item46a8352f88%3Ag%3AeNwAAOSwkXdeNfdd'
        headers:
          title: Headers
          description: Request Headers
          default: null
          type: object
          example: 
            Header1: foo
            Header2: bar
        cookie:
          title: Cookie
          type: string
          description: The Cookie that can be set and read from.
          example: yummy_cookie=choco; tasty_cookie=strawberry
        body:
          title: Body
          type: string
          description: Request Body.
          default: null
          example: foo=foo1&bar=bar1
        created_at:
          type: string
          title: Created At
          description: Creation Date of this Global Page
          format: date-time
          example: '2020-02-29T07:56:35.307162Z'
        no_redirect:
          type: boolean
          title: No Redirect
          description: If set to true, the fetcher does not do redirection at all on this request.
          default: false
        no_url_encode:
          type: boolean
          title: No URL Encode
[...]
